[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
switchbot-mqtt = {editable = true,path = "."}

[dev-packages]
black = "==20.8b1"
mypy = "*"
pylint = "*"
pylint-import-requirements = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
