[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
switchbot-mqtt = {editable = true,path = "."}

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
pylint-import-requirements = "*"
pytest = "*"
pytest-cov = "*"

# mypy on python<3.8
typed-ast = {markers = "python_version < '3.8'"}

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
