[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
switchbot-mqtt = {editable = true,path = "."}

[dev-packages]
# black requires python>=3.6
# https://github.com/psf/black/commit/e74117f172e29e8a980e2c9de929ad50d3769150#diff-2eeaed663bd0d25b7e608891384b7298R51
black = {version = "==20.8b1", markers = "python_version >= '3.6'"}
mypy = "*"
pylint = "*"
pylint-import-requirements = "*"
pytest = "*"
pytest-cov = "*"

# python3.5 compatibility
# https://github.com/python/importlib_metadata/commit/107f9029fd5807c6579b881db19e11a0488f0675
importlib-metadata = "<3"
isort = "<5"
# workaround https://github.com/pytest-dev/pytest/issues/3953
pathlib2 = {version = "*", markers="python_version < '3.6'"}
# https://github.com/jaraco/zipp/commit/05a3c52b4d41690e0471a2e283cffb500dc0329a
zipp = "<2"

# python3.8 compatibility
# workaround pipenv unexpectedly adding marker "python_version < '3.8'"
typed-ast = "*"

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
