name: container image

on:
  push:
  pull_request:
  schedule:
  - cron: '0 20 * * 5'

jobs:
  docker-build:
    runs-on: ubuntu-20.04
    steps:
    - uses: docker/setup-qemu-action@v2.2.0
    - uses: docker/setup-buildx-action@v2.6.0
    # > By default, this action uses the Git context so you don't need to use
    # > the actions/checkout action to checkout the repository because this
    # > will be done directly by buildkit. [...]
    # > any file mutation in the steps that precede [...] will be ignored
    # https://github.com/marketplace/actions/build-and-push-docker-images
    - uses: docker/build-push-action@v4.0.0
      with:
        platforms: |
          linux/amd64
          linux/arm/v7
